
blockquote {
  border-left: 4px solid #228B22;
  padding-left: 1em;
}

p > a {
  text-decoration: underline;
  color: black;
}

p > a:hover {
  color: #228B22;
}

blockquote > a {
  text-decoration: underline;
  color: black;
}

blockquote > a:hover {
  color: #228B22;
}

ol > li > a {
  text-decoration: underline;
  color: black;
}

ol > li > a:hover {
  color: #228B22;
}

ul > li > a {
  text-decoration: none;
  color: black;
}

ul > li > a:hover {
  color: #228B22;
}


@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('charter_regular.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('charter_italic.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('charter_bold.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('charter_bold_italic.woff2') format('woff2');
}

h1, h2, h3, h4, h5, h6, button, a, p, ul, ol, blockquote {
  font-family: charter
}
